# global options
{
  admin off # No need for admin API in Railway
  persist_config off # Storage isn't persistent anyway
  auto_https off # Railway handles HTTPS
  log {
    format json # Set runtime log format to JSON
  }
  servers {
    trusted_proxies static private_ranges 100.0.0.0/8 # Trust Railway's proxy
  }
}

# Site block, listens on PORT environment variable
:{$PORT:3000} {
  # Access logs
  log {
    format json
  }

  # Health check endpoint for Railway
  handle /health {
    respond 200
  }

  # Handle static files first
  handle /public/* {
    root * /usr/share/caddy
    file_server
  }

  # Handle all other requests through our Node.js application
  handle {
    reverse_proxy localhost:3001
  }
} 